body {padding-left: 50%;
      padding-right: 50%;
      background-color: white;
      color: black;
      justify-content: center;
}
input {align-items: center;
       background-color: blue;
       }
form {display: inline-block;
      text-align: center;
      background-color: pink;
      }
