<head>
	<title>{{page.title}} | {{site.title}}</title>
	<link lang='sass' rel="stylesheet" href="/_assets/css/default.css">
	<script type="text/javascript" src="/_assets/js/main.js"></script>
	<script type="text/javascript" src="/_assets/js/favorite_post.js"></script>
    <!-- Fonts -->
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;600&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	</style>
	
	{% include navbar.html %}
</head>
