---
layout: default
---

<body>
    <h1>{{page.title}}</h1>
        <div class="column">
            <img src="Adrian.jpeg" alt="Adrian" style="width:100%" height="600px">
            <h2>{{page.first-name}} {{page.last-name}}</h2>
            <p>{{page.city}}, {{page.state}}</p>
            <a href="{{page.twitter-url}}">Twitter</a>
            <a href="{{pagel.linkedin-url}}">Linkedin </a>
            <a href="{{page.github-url}}">Github</a>   
        </div>

         <div class="column">
                
                <h2>{{page.first-name}} {{page.last-name}}</h2>
                <p id="borderimg2">{{page.bio}}</p>


                <h2>{{page.first-name}} {{page.last-name}}</h2>
                <p id="borderimg2">{{page.bio}}</p>
         </div>

        <div class="column">
            <img src="Linda.png" alt="Linda" style="width:100%" height="600px">
            <h2>{{page.first-name}} {{page.last-name}}</h2>
            <p>{{page.city}}, {{page.state}}</p>
            <a href="{{pagel.linkedin-url}}" >Linkedin </a>
            <a href="{{page.github-url}}" >Github</a>
        </div>
      </div>  
</body>