---
layout: default
---
<!DOCTYPE html>
<html lang="en">
	{% include header.html %}
	<script type="text/javascript" src="_assets/js/main.js"></script>
<body>
	<div id="contact-form">
		<center><h1>Contact Us</h1></center>
		<form name="contact">
			<p><input id="name" type="text" placeholder="NAME*"/></p>
			<p><input id="email" type="text" placeholder="EMAIL ADDRESS*"/></p>
			<p><input id="subject" type="text" placeholder="SUBJECT"/></p>
			<textarea id="message" placeholder="MESSAGE" rows="30" cols="150"></textarea>
			<br />
			<button type="submit" onclick="sendEmail();">Send Message</button>
		</form>
	</div>
</body>
